<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Notícias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Notícias</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Notícia</th>
                <th>Resumo</th>
                <th>Autor</th>
                <th>Data da Noticia</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < noticias.length; i++) { %>
                <tr>
                    <td><%= noticias[i].id %></td>
                    <td><%= noticias[i].titulo %></td>
                    <td><%= noticias[i].noticia %></td>
                    <td><%= noticias[i].resumo %></td>
                    <td><%= noticias[i].autor %></td>
                    <td>
                        <% if (noticias[i].data_noticia !== null) { %>
                            <%= new Date(noticias[i].data_noticia).toLocaleDateString('pt-BR') %>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
